<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<title>Webinars</title>
	<link href='http://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="css/estilos.css">
</head>
<body>
	<header class="header relative border-bottom">
		<div class="logo">

			<div class="wrap center-block">
				<figure class="image isotipo left">
					<img src="img/logo.png" alt="Sfotipy"/>
				</figure>
				<div class="user right">
					<figure class="avatar round left">
						<!-- <img src="img/avatares/dantehemerson.jpg" alt="@LeonidasEsteban" width="38" height="38"> -->
					</figure>
					<span class="left username">@dantehemerson</span>
				</div>
				<div class="search right">
					<form action="" class="relative">
						<span class="icon-search search-icon"></span>
						<input type="text"  placeholder="ejem: Leonidas Esteban" class="input">
						<span class="close-icon">x</span>
					</form>
				</div>
			</div>


		</div>
		<a href="" class="button-menu icon-menu"></a>
		<nav class="menu">
			<ul class="list center-block wrap">
				<li class="item">
					<a href="#">Top Hits</a>
				</li>
				<li class="item">
					<a href="#">Profile</a>
				</li>
				<li class="item">
					<a href="#">Settings</a>
				</li>
				<li class="item">
					<a href="#">Playlist</a>
				</li>
			</ul>
		</nav>
		<div class="title">
			<span>
				Top hits
			</span>
		</div>
	</header>
</body>